/node_modules
/public/hot
/public/css
/public/js
/public/images
/public/fonts
/public/storage
/public/*.json
/storage/*.key
/storage/*.ico
/vendor
.idea/
.env
.DS_Store
error_log
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
data.db
