@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Thasadith:400,700&amp;display=swap');

/* 
Google Fonts
------------- 
font-family: 'Open Sans', sans-serif;
font-family: 'Thasadith', sans-serif;
*/
/* reset css start */

html {
  scroll-behavior: smooth;
  --main-color: #ff5500;
  --heading-font: 'Thasadith', sans-serif;
  --heading-color: #323639;
  --font-color: #35315a;
  --font-color-two: #4f4f4f;
  --para-font: 'Open Sans', sans-serif;
  --para-color: #484748;
}
body {
  font-size: 16px;
  font-family: var(--para-font);
  padding: 0;
  margin: 0;
  font-weight: 400;
  word-break: break-word;
}
h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
}
h1,h1>a,
h2,h2>a,
h3,h3>a,
h4,h4>a,
h5,h5>a,
h6,h6>a {
  line-height: 1.25;
  font-weight: 700;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  font-family: var(--heading-font);
  color: var(--heading-color);
  font-weight: 700;
}
h2, h2>a {
  font-size: 60px;
}
h3, h3>a {
  font-size: 28px;
}
h4, h4>a {
  font-size: 22px;
}
h5, h5>a {
  font-size: 20px;
}
h6, h6>a {
  font-size: 18px;
}
a {
  display: inline-block;
  font-family: var(--para-font);
  color: var(--para-color);
  font-weight: 600;
}
a,a:focus, a:hover {
  text-decoration: none;
  color: inherit;
}
p, span, li {
  margin: 0;
  font-family: var(--para-font);
  color: var(--para-color);
  line-height: 1.7;
  font-size: 14px;
}
a, span {
  display: inline-block;
}
img {
  max-width: 100%;
  height: auto;
}
ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
button:focus,
input:focus,
textarea:focus {
  outline: none;
}
button {
  border: none;
  cursor: pointer;
}
table {
  width: 100%;
}
input, textarea {
  width: 100%;
}
form input,
form textarea {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 0 15px 0;
}
form textarea {
  resize: none;
}
form input:focus,
form textarea:focus {
  border-color: var(--main-color);
}
/* 252a32 */
::-webkit-input-placeholder {
  color: rgba(37, 42, 50, 0.7);
}
::-moz-placeholder {
  color: rgba(37, 42, 50, 0.7);
}
:-ms-input-placeholder {
  color: rgba(37, 42, 50, 0.7);
}
:-moz-placeholder {
  color: rgba(37, 42, 50, 0.7);
}

/* reset css end */
